In [2]:
import numpy as np
import pandas as pd

def generate_data(strategy, size):
    np.random.seed(0)
    if strategy == 'unique':
        return np.arange(size)
    elif strategy == 'repeated':
        return np.random.choice(size, size)
    elif strategy == 'low_skewed':
        prob = np.exp(-np.linspace(0, 1, size) * 4)  # heavily skewed towards smaller numbers
        prob = prob / prob.sum()  # Normalize
        return np.random.choice(np.arange(size), size, p=prob)
    elif strategy == 'high_skewed':
        prob = np.exp(np.linspace(0, 1, size) * 4)  # heavily skewed towards larger numbers
        prob = prob / prob.sum()  # Normalize
        return np.random.choice(np.arange(size), size, p=prob)
    elif strategy == 'middle_focused':
        return np.clip(np.random.normal(size/2, size/10, size).astype(int), 0, size-1)
    elif strategy == 'random':
        return np.random.choice(1000, size)

def generate_synthetic_data_v5():
    sizes = [1000, 1200, 800, 900, 1100, 850]
    strategies = ['unique', 'repeated', 'low_skewed', 'unique', 'high_skewed', 'random']

    tables = []
    for i, size in enumerate(sizes):
        j_id1_strategy = strategies[i]
        j_id2_strategy = np.random.choice(strategies)

        data = {
            'j_id1': generate_data(j_id1_strategy, size),
            'j_id2': generate_data(j_id2_strategy, size)
        }
        table = pd.DataFrame(data)
        tables.append(table)

    return tables

def pandas_equi_join(table1, table2, key1, key2):
    """
    Perform an equi-join between two tables using pandas merge.
    """
    # Perform the join
    result = table1.merge(table2, left_on=key1, right_on=key2, how='inner', suffixes=('', '_right'))

    # Drop columns with '_right' suffix
    columns_to_drop = [col for col in result.columns if '_right' in col]
    result.drop(columns=columns_to_drop, inplace=True)

    # Retain only the first two columns
    result = result.iloc[:, :2]

    return result


def pandas_multi_way_join(tables, join_keys):
    """
    Perform a multi-way join over a list of tables using pandas.

    Args:
    - tables (list): A list of DataFrames representing the tables to be joined.
    - join_keys (list): A list of tuple pairs representing the join keys for consecutive tables.

    Returns:
    - DataFrame: The result of the multi-way join.
    """
    if len(tables) != len(join_keys) + 1:
        raise ValueError("Number of join keys should be one less than the number of tables.")

    result = tables[0]
    cumulative_size = 0
    for i in range(1, len(tables)):
        result = pandas_equi_join(result, tables[i], join_keys[i-1][0], join_keys[i-1][1])
        print(f"Intermediate Size after join with table {i}: {len(result)}")
        cumulative_size += len(result)

    print(f"\nCumulative Intermediate Size: {cumulative_size}")
    print(f"Final Size: {len(result)}\n")

    return result

def filter_relation(table, column_name, value_range):
    """
    Filter rows of a relation based on a specified range for a given column.

    Args:
    - table (pd.DataFrame): The relation (table) to be filtered.
    - column_name (str): The column on which the filter will be applied.
    - value_range (tuple): A tuple of two values representing the range (inclusive).

    Returns:
    - pd.DataFrame: The filtered relation.
    """
    lower_bound, upper_bound = value_range
    return table[(table[column_name] >= lower_bound) & (table[column_name] <= upper_bound)]


def example_basic(tables):
    '''
    Basic operations
    '''

    # Filter
    # Use filter to filter tables[0].j_id1 in (100, 200)
    # SELECT * FROM tables[0] WHERE tables[0].j_id1 > 100 AND  tables[0].j_id1 < 200
    #print("\033[31m" + "This text is red" + "\033[0m")
    print("\033[32m" + "Filter operator" + "\033[0m")
    filtered_table = filter_relation(tables[0], 'j_id1', (100, 200))
    print(filtered_table.head())
    print("\n" + "="*40 + "\n")

    # Join
    # Join two relations on certain key
    # SELECT * FROM tables[0] join tables[1] ON 'j_id1'
    print("\033[32m" + "Join operator" + "\033[0m")
    joined_result = pandas_equi_join(tables[0], tables[1], 'j_id1', 'j_id1')
    print(joined_result.head())
    print("\n" + "="*40 + "\n")

    # Multi-way join
    # Join Order 1: tables[3] -> tables[2] -> tables[1] -> tables[0]
    # Multi-way join has build-in performance counter
    print("\033[32m" + "Multi-way join operator" + "\033[0m")
    print("Join Order 2: tables[3] -> tables[2] -> tables[1] -> tables[0]\n")
    result_order2 = pandas_multi_way_join(
        [tables[3], tables[2], tables[1], tables[0]],
        [('j_id1', 'j_id1'), ('j_id1', 'j_id1'), ('j_id1', 'j_id1')]
    )
    print(result_order2.head())
    print("\n" + "="*40 + "\n")


    # Join Order 2: tables[1] -> tables[3] -> tables[0] -> tables[2]
    print("\033[32m" + "Multi-way join with different join order" + "\033[0m")
    print("Join Order 3: tables[1] -> tables[3] -> tables[0] -> tables[2]\n")
    result_order3 = pandas_multi_way_join(
        [tables[1], tables[3], tables[0], tables[2]],
        [('j_id1', 'j_id1'), ('j_id1', 'j_id1'), ('j_id1', 'j_id1')]
    )
    print(result_order3.head())
    print("\n" + "="*40 + "\n")




'''
Assignment specified queries
'''

# Query 1 - Implement the following query using provided functions (10pts)
#
#   SELECT * FROM tables[4] A, tables[2] B
#   WHERE A.j_id1 = B.j_id1
#
def q1(tables):
    # Query 1: Simple join between tables[4] and tables[2] on j_id1
    result = pandas_equi_join(tables[4], tables[2], 'j_id1', 'j_id1')
    print(f"Query 1 result: {len(result)} rows")
    print(result)
    print("\n" + "="*40 + "\n")
    return result



# Query 2 - Implement the following query using provided functions (10pts)
#
#   SELECT * FROM tables[4] A
#   WHERE A.j_id1 within (100, 500)
#
def q2(tables):
    # Query 2: Filter tables[4] where j_id1 is within (100, 500)
    result = filter_relation(tables[4], 'j_id1', (100, 500))
    print(f"Query 2 result: {len(result)} rows")
    print(result)
    print("\n" + "="*40 + "\n")
    return result



# Query 3 - Implement the following query using provided functions
#           and conduct filter push-down for query optimization (10pts)
#
#   SELECT * FROM tables[4] A, tables[2] B
#   WHERE A.j_id1 = B.j_id1 AND A.j_id1 within (100, 500)
#
#   Hint: Order of filter and joins matters.

def q3(tables):
    # Query 3: Filter tables[4] first, then join with tables[2] on j_id1
    filtered_table = filter_relation(tables[4], 'j_id1', (100, 500))
    result = pandas_equi_join(filtered_table, tables[2], 'j_id1', 'j_id1')
    print(f"Query 3 result: {len(result)} rows")
    print(result)
    print("\n" + "="*40 + "\n")
    return result



# Query 4 - Implement the following query using pandas_multi_way_join(),
#           you need to find the optimal join order such that the Cumulative
#           Intermediate Size should beat the provided baseline (10pts)
#
#   SELECT * FROM tables[0] A, tables[1] B, tables[3] C
#   WHERE A.j_id1 = B.j_id1 AND B.j_id1 = C.j_id1
#
#   Hint: What join is non-expanding?
#   Baseline: 1812 (culumative size, directly calculated by pandas_multi_way_join)
#
def q4 (tables):
    # Query 4: Multi-way join with optimal order to minimize intermediate size
    # Optimal order based on non-expanding join
    result = pandas_multi_way_join(
        [tables[3], tables[0], tables[1]],
        [('j_id1', 'j_id1'), ('j_id1', 'j_id1')]
    )
    print(f"Query 4 result: {len(result)} rows")
    print(result)
    print("\n" + "="*40 + "\n")
    return result



# Query 5 - Implement the following query using pandas_multi_way_join(), and
#           filter_relation() you need to find the optimal join order such that
#           the Cumulative Intermediate Size should beat the provided baseline (15pts)
#
#   SELECT * FROM tables[5] A, tables[2] B, tables[4] C
#   WHERE A.j_id1 = B.j_id1 AND B.j_id1 = C.j_id1 AND
#     A.j_id2 within (100, 500) AND
#     B.j_id1 within (50, 600) AND
#     C.j_id1 within (200, 700)
#
#   Hint: (1)Rule-based optimization; (2) Join key distributions
#   Baseline: 81 (culumative size, directly calculated by pandas_multi_way_join)
#
def q5(tables):
    # Query 5: Apply filters first, then perform multi-way join with optimal order
    filtered_A = filter_relation(tables[5], 'j_id2', (100, 500))
    filtered_B = filter_relation(tables[2], 'j_id1', (50, 600))
    filtered_C = filter_relation(tables[4], 'j_id1', (200, 700))

    result = pandas_multi_way_join(
        [filtered_B, filtered_C, filtered_A],
        [('j_id1', 'j_id1'), ('j_id1', 'j_id1')]
    )
    print(f"Query 5 result: {len(result)} rows")
    print(result)
    print("\n" + "="*40 + "\n")
    return result



# Query 6 - Implement the following query using pandas_multi_way_join(),
#           you need to find the optimal join order (15pts)
#
#           Grading: Full credits if you beat 3 randomly selected join orders
#                    75% credits if you beat 2 of them
#                    50% credits if you beat only one
#
#   SELECT * FROM tables[0] A, tables[1] B, tables[2] C, tables[4] D
#   WHERE A.j_id1 = B.j_id1 AND B.j_id1 = C.j_id1 AND C.j_id1 = D.j_id1
#
#   Hint: (1)Non-expanding joins (2)Join key distributions
#
def q6(tables):
    # Query 6: Multi-way join with optimal order
    # Optimal order considering non-expanding joins and data distribution
    result = pandas_multi_way_join(
        [  tables[2],tables[4],tables[1],tables[0] ],
        [('j_id1', 'j_id1'), ('j_id1', 'j_id1'), ('j_id1', 'j_id1')]
    )
    print(f"Query 6 result: {len(result)} rows")
    print(result)
    print("\n" + "="*40 + "\n")
    return result



# Query 7 - Implement the following query using pandas_multi_way_join(),
#           you need to find the optimal join order (15pts)
#
#           Grading: Full credits if you beat 3 randomly selected join orders
#                    75% credits if you beat 2 of them
#                    50% credits if you beat only one
#
#   SELECT * FROM tables[1] A, tables[2] B, tables[3] C, tables[4] D, tables[5] E
#   WHERE A.j_id1 = B.j_id1 AND B.j_id1 = C.j_id1 AND C.j_id1 = D.j_id1 AND D.j_id1 = E.j_id1
#
def q7(tables):
    # Query 7: Multi-way join with optimal order
    result = pandas_multi_way_join(
        [tables[4], tables[2], tables[3], tables[1], tables[5]],
        [('j_id1', 'j_id1'), ('j_id1', 'j_id1'), ('j_id1', 'j_id1'), ('j_id1', 'j_id1')]
    )
    print(f"Query 7 result: {len(result)} rows")
    print(result)
    print("\n" + "="*40 + "\n")
    return result



# Query 8 - Implement the following query using pandas_multi_way_join(), and filter_relation()
#           you need to find the optimal join order (15pts)
#
#           Grading: Full credits if you beat 3 randomly selected join orders
#                    75% credits if you beat 2 of them
#                    50% credits if you beat only one
#
#   SELECT * FROM tables[0] A, tables[1] B, tables[2] C, tables[4] D, tables[5] E
#   WHERE A.j_id1 = B.j_id1 AND B.j_id1 = C.j_id1 AND C.j_id1 = D.j_id1 AND D.j_id1 = E.j_id1 AND
#         A.j_id2 within (100, 500) AND E.j_id2 within (200, 500)
#
def q8(tables):
    # Query 8: Apply filters first, then perform multi-way join with optimal order
    filtered_A = filter_relation(tables[0], 'j_id2', (100, 500))
    filtered_E = filter_relation(tables[5], 'j_id2', (200, 500))

    result = pandas_multi_way_join(
        [filtered_A, filtered_E, tables[4], tables[2], tables[1]],
        [('j_id1', 'j_id1'), ('j_id1', 'j_id1'), ('j_id1', 'j_id1'), ('j_id1', 'j_id1')]
    )
    print(f"Query 8 result: {len(result)} rows")
    print(result)
    print("\n" + "="*40 + "\n")
    return result


'''
Execution
'''
# Data generation, do not alter this
tables = generate_synthetic_data_v5()

# Examples
example_basic(tables)

# Execute your queries
q1(tables)

q2(tables)

q3(tables)

q4(tables)

q5(tables)

q6(tables)

q7(tables)

q8(tables)

Filter operator
     j_id1  j_id2
100    100    905
101    101    685
102    102    924
103    103    990
104    104    665

========================================

Join operator
   j_id1  j_id2
0      0    853
1      0    853
2      3    852
3      3    852
4      3    852

========================================

Multi-way join operator
Join Order 2: tables[3] -> tables[2] -> tables[1] -> tables[0]

Intermediate Size after join with table 1: 800
Intermediate Size after join with table 2: 778
Intermediate Size after join with table 3: 778

Cumulative Intermediate Size: 2356
Final Size: 778

   j_id1  j_id2
0      0    768
1      0    768
2      0    768
3      0    768
4      0    768

========================================

Multi-way join with different join order
Join Order 3: tables[1] -> tables[3] -> tables[0] -> tables[2]

Intermediate Size after join with table 1: 911
Intermediate Size after join with table 2: 911
Intermediate Size after join with table 3: 778

Cumulative Intermediate Size: 2600
Final Size: 778

   j_id1  j_id2
0    684    684
1    277    277
2    599    599
3    599    599
4    600    600

========================================

Query 1 result: 153 rows
     j_id1  j_id2
0      191    191
1      191    191
2      396    396
3      727    727
4      620    620
..     ...    ...
148      9      9
149      9      9
150      9      9
151    328    328
152    178    178

[153 rows x 2 columns]

========================================

Query 2 result: 95 rows
      j_id1  j_id2
14      432    432
15      477    477
16      202    202
34      191    191
43      396    396
...     ...    ...
1063    130    130
1065    467    467
1066    362    362
1086    328    328
1096    178    178

[95 rows x 2 columns]

========================================

Query 3 result: 80 rows
    j_id1  j_id2
0     191    191
1     191    191
2     396    396
3     201    201
4     194    194
..    ...    ...
75    229    229
76    229    229
77    130    130
78    328    328
79    178    178

[80 rows x 2 columns]

========================================

Intermediate Size after join with table 1: 900
Intermediate Size after join with table 2: 911

Cumulative Intermediate Size: 1811
Final Size: 911

Query 4 result: 911 rows
     j_id1  j_id2
0        0    768
1        0    768
2        3    766
3        3    766
4        3    766
..     ...    ...
906    889    868
907    889    868
908    889    868
909    890    721
910    894    795

[911 rows x 2 columns]

========================================

Intermediate Size after join with table 1: 70
Intermediate Size after join with table 2: 20

Cumulative Intermediate Size: 90
Final Size: 20

Query 5 result: 20 rows
    j_id1  j_id2
0     423    140
1     379    163
2     265    253
3     265    253
4     393    271
5     573    299
6     573    299
7     573    299
8     282    310
9     445    385
10    292    428
11    292    428
12    265    463
13    265    463
14    201    541
15    201    541
16    336    568
17    396    725
18    396    725
19    472    774

========================================

Intermediate Size after join with table 1: 153
Intermediate Size after join with table 2: 135
Intermediate Size after join with table 3: 135

Cumulative Intermediate Size: 423
Final Size: 135

Query 6 result: 135 rows
     j_id1  j_id2
0      178      2
1      178      2
2      416      7
3      524     27
4      702     52
..     ...    ...
130    525    765
131    727    766
132    727    766
133    592    768
134    472    774

[135 rows x 2 columns]

========================================

Intermediate Size after join with table 1: 153
Intermediate Size after join with table 2: 153
Intermediate Size after join with table 3: 135
Intermediate Size after join with table 4: 184

Cumulative Intermediate Size: 625
Final Size: 184

Query 7 result: 184 rows
     j_id1  j_id2
0      396    396
1      396    396
2      396    396
3      396    396
4      727    727
..     ...    ...
179     69     69
180    130    130
181    328    328
182    178    178
183    178    178

[184 rows x 2 columns]

========================================

Intermediate Size after join with table 1: 26
Intermediate Size after join with table 2: 21
Intermediate Size after join with table 3: 12
Intermediate Size after join with table 4: 8

Cumulative Intermediate Size: 67
Final Size: 8

Query 8 result: 8 rows
   j_id1  j_id2
0     69    454
1     69    454
2     69    454
3    173    172
4    173    172
5    173    172
6    173    172
7    173    172

========================================

   j_id1  j_id2
0     69    454
1     69    454
2     69    454
3    173    172
4    173    172
5    173    172
6    173    172
7    173    172